* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000;
    font-family: 'Martel Sans', sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.header-title {
    color: #e50914;
    line-height: normal;
    font-size: 34px;
}

.btn-nx-clone {
    background-color: #e50914;
    color: #fff;
    line-height: normal;
    padding: 7px 17px;
    font-weight: 400;
    font-size: 1rem;
    border-radius: 3px;
}

.hero-container {
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    margin-top: 1rem;
}

.subtitle {
    display: flex;
    justify-content: center;
    color: #fff;
}

.subtitle a {
    color: #fff;
    margin-left: 4px;
}

h3 {
    font-size: 18px;
}

.align-form {
    display: flex;
    flex-flow: column;
    align-items: center;

}

.style-email-input {
    flex-grow: 1;
    height: 60px;
    box-sizing: border-box;
    border: solid 1px #8c8c8c;
    padding-left: 10px;
}

.style-email-input ::placeholder :active {
    transition: font .1s ease, top .1s ease, transform .1s ease, -webkit-transform .1s ease, -moz-transform .1s ease, -o-transform .1s ease;
    transform: translateY(-50%);
}

.style-submit {
    align-self: center;
    justify-content: center;
    background-color: #e50914;
    color: #fff;
    font-weight: 400;
    box-shadow: 0 1px 0 rgb(0 0 0 / 45%);
    min-width: 74px;
    height: 60px;
    margin: .25em auto;
    padding: 0 1em;
}

.style-submit:hover {
    background-color: #f40612;
    box-shadow: 0 1px 0 rgb(0 0 0 / 45%);
}