* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    background-color: #000;
    font-family: 'Martel Sans', sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
}

.style-background {
    background-color: #000;
    color: #fff;
}

.header-title {
    color: #e50914;
    line-height: normal;
    font-size: 34px;
}

.btn-signin {
    display: flex;
    align-items: center;
    margin-left: auto;
    background-color: #e50914;
    color: #fff;
    line-height: normal;
    padding: 7px 17px;
    font-weight: 400;
    font-size: 1rem;
    border-radius: 3px;
    border-style: none;
    height: 34px;
}

.hero-container {
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    margin-top: 1rem;
    padding: 75px 0;
    border-bottom: 8px solid #222;
}

.subtitle {
    text-align: center;
    align-items: center;
    color: #fff;
    width: 640px;
    margin: 1rem auto;
}

.subtitle a {
    color: #fff;
    margin-left: 4px;
}

h3.subtitle-email-text {
    font-size: 18px;
    width: 640px;
    text-align: center;
}

form {
    display: inline-block;
}

.align-form {
    display: flex;
    flex-direction: column;
}

.style-email-input {
    padding-left: 5px;
    height: 60px;
    width: 500px;
}

.style-email-input:focus {
    outline-color: #0071eb;
}

.placeholder-label {
    position: absolute;
    margin-left: -38.5rem;
    margin-top: 1em;
    transition: font .1s ease, top .1s ease, transform .1s ease, -webkit-transform .1s ease, -moz-transform .1s ease, -o-transform .1s ease;
    background-color: transparent;
    pointer-events: none;
    color: #000;
}

.style-email-input:focus~.placeholder-label,
.style-email-input:not(:placeholder-shown).style-email-input:not(:focus)~.placeholder-label {
    margin-top: 0.5px;
    font-size: 14px;
}

.style-submit {
    height: 60px;
    background-color: #e50914;
    color: #fff;
    font-weight: 400;
    box-shadow: 0 1px 0 rgb(0 0 0 / 45%);
    min-width: 74px;
    padding: 0 1em;
}

.style-submit:hover {
    background-color: #f40612;
    box-shadow: 0 1px 0 rgb(0 0 0 / 45%);
}